{% extends 'base.html' %} {% block title %} Add Attendance {% endblock title %}
{% block body %}
<h4
  class="text-center pt-2 pb-2"
  style="
    color: white;
    background-image: linear-gradient(45deg, #db0b5f, #6f00ed);
  "
>
  <span>Calculate Attendance</span>
</h4>

{% with messages=get_flashed_messages(with_categories=true) %} {% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  {{message}}
</div>
{% endfor %} {% endif %} {% endwith %}
<br />
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form action="/addattendance" method="post">
        <div class="form-group">
          <select class="form-control" id="rollno" name="rollno" required>
            <option selected>Select RollNo</option>
            {% for r in query %}
            <option value="{{r.rollno}}">{{r.rollno}}</option>
            {% endfor %}
          </select>
        </div>
        <br />

        <div
          class="form-group"
          oninput="attend.value=parseInt(present.value)*100/parseInt(total.value)"
        >
          <label for="attendance">Total (Lect/Lab)</label>
          <input
            type="number"
            class="form-control mb-3"
            name="total"
            id="total"
          />
          <label>Present (Lect/Lab)</label>
          <input
            type="number"
            class="form-control mb-3"
            name="present"
            id="present"
          />
          <label for="attendance"></label>
          <input
            type="number"
            name="attend"
            id="attend"
            step="any"
            class="form-control"
          />
          <button
            type="submit"
            class="btn btn-sm btn-block mt-3"
            style="
              color: white;
              background-image: linear-gradient(45deg, #db0b5f, #6f00ed);
            "
          >
            Add Attendance
          </button>
        </div>
        <br />
      </form>

      <br />
    </div>

    <div class="col-md-4"></div>
  </div>
</div>

{% endblock body %}
